$border: 1px solid rgba(245, 7, 13, 0.45)


$color-hover: #ff151f
$color-hover-alter: #00b401
$color-hover-alter2: #004a86
$color-gray: #cdcdcd


$background-color-light: #f6f6f6




$section-padding: 60px 0
$section-padding-bottom: 40px
$transition: all .5s ease
